.contents {
    padding: 0 20px;
}
.title_wap {
    border-bottom: 1px solid #eee;
    padding: 0 0 10px 0;
}
.title_wap strong {
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 10px 0;
}
.title_wap > div {
    overflow: hidden;
}
.title_wap em {
    float: left;
    font-size: 12px;
    font-weight: 400;
    color: #666666;
}
.title_wap span {
    float: right;
    font-size: 12px;
    font-weight: 400;
    color: #999999;
}
.text {
    padding: 10px 0 40px;
}
.text p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
}
.btn_wrap {
    padding: 20px 20px;
    overflow: hidden;
}
.btn_wrap button {
    width: 58px;
    height: 26px;
    font-size: 12px;
    border: 1px solid #eee;
    background: none;
    color: #999999;
    float: left;
    border-radius: 5px;
    font-weight:400;
}
.btn_wrap button:first-child {
    margin: 0 5px 0 0;
}
.btn_wrap button:last-child {
    float: right;
    background: #039DAE;
    color: #fff;
}
.btn_wrap button img {
    height: 13px;
    margin: 0 3px 0 0;
}
.comment_wrap {
    width: 100%;
    background: #F7FAFA;
    padding: 20px;
}
.comment_wrap ul li {
    border-bottom: 1px solid #eee;
    padding: 0 0 15px 0;
    margin: 0 0 15px 0;
}
.comment_wrap ul li:last-child {
    border-bottom: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.comment_wrap ul li > div:nth-of-type(1) {
    overflow: hidden;
    margin: 0 0 10px 0;
}
.comment_wrap ul li > div em {
    float: left;
    font-size: 14px;
    font-weight: 400;
}
.comment_wrap ul li > div span {
    float: right;
    font-size: 12px;
    font-weight: 400;
    color: #666666;
}
.comment_wrap ul li p {
    font-size: 13px;
}


.input {
    width: 100%;
    background: #fff;
    border-top: 1px solid #eee;
    padding: 10px 20px;
    overflow: hidden;
}
.input input {
    border: none;
    width: calc(100% - 55px);
    height: 28px;
    float: left;
    font-size: 13px;
}
.input input::placeholder {
    font-size: 13px;
    color: #CCCCCC;
}
.input button {
    position: relative;
    width: 40px;
    height: 28px;
    border: none;
    background: #039DAE;
    border-radius: 6px;
    float: right;
}
.input button img {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.comment_btn_wrap {
    overflow: hidden;
    margin: 10px 0 0 0;
}
.comment_btn_wrap img {
    height: 12px;
    margin: 0 3px 0 0;
}
.comment_btn_wrap button {
    font-size: 12px;
    font-weight: 300;
    color: #7D7D7D;
    border: none;
    background: transparent;
    padding: 0 15px 0 0;
}