.inner {
    background: #F7FAFA;
    min-height: 100vh;
    padding: 90px 0 0 0;
}
.subtitle {
    position: fixed;
    z-index: 10;
    top: 40px;
    width: 100%;
}
.subtitle p {
    height: 44px;
    line-height: 44px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    background: linear-gradient(to bottom,#039DAE,#14B5A1);
}

.inner strong {
    display: block;
    color: #039DAE;
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 14px;
}
.inner section {
    padding: 0 20px;
}
.contents_wrap {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #eee;
    margin: 0 0 30px 0;
}
.contents_wrap span {
    font-size: 12px;
    font-weight: 400;
    color: #909090;
    margin: 0 9% 0 0;
}
.contents_wrap input[type="text"] {
    border: 1px solid #eee;
    height: 30px;
}
.contents_wrap input[type="text"]::placeholder {
    color: #ccc;
    font-size: 12px;
    font-weight: 400;
}



/* 공통 check box / radio box */
.inner input[type="radio"] + span,
.inner input[type="checkbox"] + span {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #ccc;
    transition: .2s ease;
    margin: 0 5px 0 0;
    border-radius: 3px;
    transform: translate(0,2px);
}
.inner input[type="radio"] + span {
    border-radius: 50%;
}
.inner input[type="radio"] + span::after,
.inner input[type="checkbox"] + span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #039DAE url("./checked.png")no-repeat;
    background-size: cover;
    opacity: 0;
    visibility: hidden;
    transition: .2s ease;
}
.inner input[type="checkbox"] + span::after {
    border-radius: 3px;
}
.inner input[type="radio"] + span::after {
    width: 7.5px;
    height: 7.5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    background: #039DAE;
}

.inner input[type="checkbox"]:checked + span {
    border-color: transparent;
}
.inner input[type="radio"]:checked + span::after,
.inner input[type="checkbox"]:checked + span::after {
    opacity: 1;
    visibility: visible;
}
.inner label {
    font-size: 12px;
    font-weight: 400;
    color: #666666;
}


/* section 1 번 */
.inner section:nth-of-type(1) .contents_wrap div:nth-of-type(1),
.inner section:nth-of-type(1) .contents_wrap div:nth-of-type(3) {
    margin: 0 0 10px 0;
}
.inner section:nth-of-type(1) .contents_wrap div:nth-of-type(2) {
    margin: 0 0 20px 0;
}
.inner section:nth-of-type(1) ul li {
    display: inline-block;
    width: 50%;
}

.inner section:nth-of-type(1) input[type="text"] {
    margin: 0 4% 0px 0;
    border-radius: 5px;
    text-align-last: center;
    font-size: 12px;
}
.inner section:nth-of-type(1) input[type="text"]:nth-of-type(1) {
    width: 14%;
}
.inner section:nth-of-type(1) input[type="text"]:nth-of-type(2) {
    width: 34%;
}
.inner section:nth-of-type(1) input[type="text"]:nth-of-type(3) {
    width: 22%;
    margin: 0;
}




/* section 2 번 */
.inner section:nth-of-type(2) .contents_wrap {
    position: relative;
    height: 110px;
}
.inner section:nth-of-type(2) .contents_wrap > div {
    position: absolute;
    overflow: auto;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
}
/* section 3 번 */
.inner section:nth-of-type(3) .contents_wrap ul {
    display: flex;
    justify-content: space-between;
}
/* section 4 번 */
.inner section:nth-of-type(4) .contents_wrap ul li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding: 0 0 15px 0;
    margin: 0 0 15px 0 ;
}
.inner section:nth-of-type(4) .contents_wrap ul li:last-child {
    border-bottom: none;
    padding: 0 0 0px 0;
    margin: 0 0 0px 0 ;
}
.inner section:nth-of-type(4) .contents_wrap ul li input[type="text"] {
    width: 9px;
    height: 14px;
    border: none;
    font-size: 12px;
}
/* section 5 번 */
.inner section:nth-of-type(5) .contents_wrap ul li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding: 0 0 15px 0;
    margin: 0 0 15px 0 ;
}
.inner section:nth-of-type(5) .contents_wrap ul li input[type="text"] {
    height: 14px;
    text-align: right;
    border: none;
    font-size: 12px;
}
/* 저장 버튼 */
.inner form button {
    background: #039DAE;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 20px 0;
}