.react-datepicker-popper {
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%,-50%) !important;
}
.react-datepicker-wrapper {
    z-index: 2;
    overflow: hidden;
}
.react-datepicker__triangle {
    display: none;
}
.react-datepicker__input-container {
    z-index: 2;
    width: 20px !important;
    overflow: hidden;
    opacity: 0;
}