.inner {
    background: #F7FAFA;
    min-height: 100vh;
    padding: 90px 0 0 0;
}
.subtitle {
    position: fixed;
    top: 40px;
    width: 100%;
}
.subtitle p {
    height: 44px;
    line-height: 44px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    background: linear-gradient(to bottom,#039DAE,#14B5A1);
}
/******************************/
.wrap {
    padding: 0 20px;
}
.wrap ul {
    background: #fff;
    padding: 15px;
}
.wrap li {
    overflow: hidden;
    border-bottom: 1px solid #eee;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
}
.wrap li span {
    float: left;
}
.wrap li select {
    float: right;
}
.wrap li strong {
    float: right;
}